@import "variables";

.services {
  header {
    height: 50vh;
    background: url("../images/header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    @media (min-width: 992px) {
      background-attachment: fixed;
    }
  }

  header::after {
    height: 50%;
  }
}

/* SINGLE SERVICE */

.service {
  header {
    height: 50vh;
    background: url("../images/header.jpg") fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  header::after {
    height: 50%;
  }
}
